html,
body,
div,
span,
ul,
li,
input,
button,
textarea,
h2,
h3,
h4,
h1,
u,
i,
p,
a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
html {
  position: relative;
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
}
.WH {
  height: 100%;
  width: 100%;
}
.TRBL {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.bodyFontSize {
  font-size: 0.3rem;
}
html,
body {
  font-size: 0.3rem;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.flexOne {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.flex-content {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.flex-items {
  align-items: center;
}
.bordered {
  border: 1px solid #ddd;
}
.enrich {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
#app {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.App-main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.App-main .App-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1rem;
  background: #4285f4;
  color: #fff;
  font-size: .3rem;
}
.App-main .App-content {
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  bottom: 1.2rem;
}
.App-main .App-add {
  position: absolute;
  right: .5rem;
  bottom: .5rem;
}
.App-main .App-nav {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1.2rem;
}
